<h1  style="margin-left: 550px;font-size:xx-large;">Check Out</h1>
<table>

	<thead>
		 <tr>
		     <th>Table </th>
		     <th>Check Out</th>
		 </tr>
	</thead>

	<tbody>
         <% @checkOutTabels.each do |t| %>
             <tr>
             	<td><%= t.name %></td>

							<td>		<%= button_to 'Check Out', {:controller => "hosts", :action => "TabelBill", :tabel_id => t.id, :method=>:post}  %></td>

             </tr>
         <% end %>
	</tbody>


</table>
