
<h1 style="margin-left: 550px;font-size:xx-large;" >Check In</h1>
<table>

	<thead>
		 <tr>
		     <th>Table </th>
		     <th>Reservations</th>
		 </tr>
	</thead>

	<tbody>
         <%@tabels.each do |t| %>
             <tr>
             	<td><%= t.name %></td>
             	<td><%= button_to 'Reserve', {:controller => "hosts", :action => "updateStatusTables", :tabel_id => t.id, :method=>:post}  %></td>


             </tr>
         <% end %>
	</tbody>


</table>
