<h1>Free Tables</h1>
<table>

	<thead>
		 <tr>
		     <th>Table </th>
		     <th>Bill</th>
		 </tr>
	</thead>

	<tbody>
         <% @checkOutTabels.each do |t| %>
             <tr>
             	<th><%= t.name %></th>
             	<td><%= button_to 'bill', {:controller => "hosts", :action => "TabelBill", :tabel_id => t.id, :method=>:post}  %></td>

             </tr>
         <% end %>
	</tbody>


</table>
