
<h1 style="margin-left: 550px;font-size:xx-large;">Check Out Table: <%@TabelId %></h1>

<h2> Submit Rating </h2>
<br/>
<form  action="/hosts/rate" method="post" >
				<td><input id= "1" name= rateVal type="radio" value="1" /></td>
				<td><label for="1">1</label></td>
				<td><input id= "2" name= rateVal type="radio" value="2" /></td>
				<td><label for="2">2</label></td>
				<td><input id= "3" name= rateVal  type="radio" value="3" /></td>
				<td><label for="3">3</label></td>
				<td><input id= "4" name= rateVal  type="radio" value="4" /></td>
				<td><label for="4">4</label></td>
				<td><input id= "5" name= rateVal  type="radio" value="5" /></td>
				<td><label for="5">5</label></td>
				<input type="hidden" value=<%= @myID %> name="table_id"/>
				<td><input  type="submit"   /></td>
				<br/>
			  <br/>
<h2>Table Bill</h2>

<table>

	<thead>
		 <tr>
		     <th>Meal </th>
		     <th>Price</th>
		 </tr>
	</thead>

	<tbody>
         <% @Details.each do |d| %>
             <tr>
             	<td><%= d.name %></td>
             	<td><%= d.price %></td>
             </tr>
         <% end %>

	</tbody>


</table>
<h3>Total = <%= @sum%></h3>
