<h1 style="margin-left: 550px;font-size:xx-large;">Orders</h1>

<p style="font-size:small;"> Mark finished meals and submit to be delivered by waiter </p>

<form  action="/cook/postOrder" method="post" >
  <table>
    <thead>
      <tr>
        <th>Order Id</th>
        <th>Order Title</th>
        <th>Order Description</th>
        <th>Select</th>

      </tr>
    </thead>

    <% @orders.each  do |order|%>
     <tr>
       <td><center><%= order.id %></center></td>
       <td><center><%= Meal.find(order.meal_id).name %></center></td>
       <td><center><%= Meal.find(order.meal_id).description %></center></td>
       <td><center><input type="checkbox" name=order[<%=order.id%>] value="1" /></center></td>

     </tr>

    <% end %>

  </table>
  <br/>
  <br/>
  <br/>
<% if @orders.any? %>
  <input type="submit" , style = "margin-left:550px;
                                  border: none;
                                  color: white;
                                  padding: 16px 32px;
                                  text-align: center;
                                  text-decoration: none;
                                  display: inline-block;
                                  font-size: 16px;
                                  -webkit-transition-duration: 0.4s; /* Safari */
                                  transition-duration: 0.4s;
                                  cursor: pointer;
                                  background-color: white;
                                  color: black;
                                  border: 2px solid #555555;
                                  border-radius: 8px;">
<%else%>
<%end%>
</form>
