<h1>Cook Orders</h1>

<p> Mark finished meals and submit to be delivered by waiter </p>

<form  action="/cook/postOrder" method="post" >
  <table>
    <thead>
      <tr>
        <th>choose</th>
        <th>Order Id</th>
        <th>name</th>
        <th>description</th>
      </tr>
    </thead>

    <% @orders.each  do |order|%>
     <tr>
       <td><center><input type="checkbox" name=order[<%=order.id%>] value="1" /></center></td>
       <td><center><%= order.id %></center></td>
       <td><center><%= Meal.find(order.meal_id).name %></center></td>
       <td><center><%= Meal.find(order.meal_id).description %></center></td>
     </tr>

    <% end %>

  </table>
  <input type="submit" >
</form>
