<div>
<h1>Ready Meals at cook to be delivered:</h1>

<p> Mark and submit meals delivered from cook to tables </p>
<form  action="/waiter/updateOrderStatus" method="post" >
<table>
  <thead>
    <tr>
      <th>Table</th>
      <th>Meal</th>
    </tr>
  </thead>

  <tbody>
    <% @orderStat.each do |p| %>
      <tr>
      	<td><center><input type="checkbox" name="order[<%=p.id %>]" value="1" /></center></td>
        <td><center><%= Table.find(p.table_id).name %></center></td>
        <td><center><%= Meal.find(p.meal_id).name %></center></td>
        </tr>
    <% end %>
  </tbody>
</table>
<input input = "Sub" type="submit"  />
</br>
</div>
