<div>

<h1>Place A new Order</h1>

<table style = "width: 50%; background: '/assets/logo.png';">
  <thead>
    <tr>
      <th>table number</th>
      <th>order</th>

    </tr>
  </thead>

  <tbody>
    <% @tables.each do |table| %>
      <tr>
        <td style= "border-bottom: 1px solid #ddd;"><center><%= table.id %></center></td>
        <td style= "border-bottom: 1px solid #ddd;"><center><%= link_to 'Take Order', waiter_takeOrder_path(:tableId => table.id) %></center></td>
        </tr>
    <% end %>
  </tbody>
</table>
</div>
