<div>

<h1 style="margin-left: 550px;font-size:xx-large;" >New Order</h1>

<table >
  <thead>
    <tr>
      <th>Table Number</th>
      <th>Place Order</th>

    </tr>
  </thead>

  <tbody>
    <% @tables.each do |table| %>
      <tr>
        <td ><center><%= table.id %></center></td>
        <% if table.status == false %>
        <td><center>Empty Table</center> </td >
        <%else%>
        <td ><center><%= link_to 'Take Order', waiter_takeOrder_path(:tableId => table.id) %></center></td>
        <%end%>
        </tr>
    <% end %>
  </tbody>
</table>
</div>
